# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ambientes virtuais
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Arquivos de IDE / editores
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# Arquivos de dados temporários
*.log
*.dat
*.out
*.pid
*.seed
*.pid.lock

# Arquivos específicos do Streamlit
.streamlit/

# Diretórios e arquivos locais
*.bak
*.tmp
.DS_Store
